<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.kowymaker.editor.application"
            name="Kowy Maker - Editor">
         <property
               name="appName"
               value="Kowy Maker - Editor">
         </property>
      </product>
   </extension>
   <extension
         id="com.kowymaker.editor.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.kowymaker.editor.plugins.core.Application">
         </run>
      </application>
   </extension>

</plugin>
